.asses{
    display: flex;
    flex-direction: row;
    .content{
        display: flex;
        flex-direction: column;
        flex: 7;
        .A-title{
            background-color: #101f3c;
            color: white;
            padding: 10px;
            width: 90%;
            margin: 0 auto;
            text-align: center;
        }
        .add{
            background-color: #D9D9D9;
            padding: 10px;
            margin-left: 70px;
            margin-top: 20px;
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
           
            cursor: pointer;
            .a-icon{
                font-size: 2em;
                margin-right: 20px;
            }
            .Search{
                padding: 15px 30px;
                border-radius: 10px;
            }
        }
        .as-container{
            margin-top: 90px;
            margin-left: 60px;
            height: 60vh;
            overflow: hidden;
            overflow-y: auto;
            .Assesment{
                height: 70px;
                width: 700px;
                
                margin-bottom: 20px;
                border-radius: 10px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                color: #EA501A;
                border: 1.5px solid #EA501A;
                
            }
        }
    }
}