.congrats{
    margin: auto;
    width: 30vw;
    background-color:#D9D9D9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        padding: 10px;
        color: #EA501A;
    }
    h5{
        padding-bottom: 20px;
        font-weight: lighter;
    }
    img{
        padding-top: 20px;
        height: 200px;
    }


}