.side-nav{
    height: 100vh;
    flex: 1;
    background-color: #101f3c;

    display: flex;
    flex-direction: column;
    .myLogo{
        
        
        img{
            width: 200px;
            padding-left: 10px;
            padding-top: 5px;
        }
    }
    .prof{
        color: #EA501A;
        padding-top: 20px;
        padding-left: 30px;
        .tESTING{
            height: 80px;
            width: 80px;
            border-radius: 50%;
        }
    }
    .icon-container{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        color: white;
        .iCon{
            padding: 40px;
            &:hover{
                margin-left: 0.9rem;
                color: #EA501A;
            }
        }
        .iCON{
            font-size: 2em;
            margin-right: 20px;
        }
    }
    .logof{
        color: white;
        margin-top: 30px;
        padding-left: 40px;
        &:hover{
            margin-left: 0.9rem;
            color: #EA501A;
        }
        .iCON{
            font-size: 2em;
            margin-right: 20px;
        }
    }
}